html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}

.success-class {
    color: green;
}

.error-class {
    color: #d00;
}

.app-img {
    margin-right: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.breadcrumb {
    padding: 2px 10px;
    margin-bottom: 0;
}

.breadcrumb-block {
    display: inline-block;
    margin-top: 25px;
}

.form-delete {
    display: inline-block;
}

.form-delete button{
    background: none;
    border: none;
    color: #158cba;
    padding-left: 0;
}

table a {
    text-decoration: none !important;
}

table a:hover, table form button:hover {
    text-decoration: underline !important;
}

.img-thumbnail {
    width: 60px;
    height: 40px;
}